@import url("../rootAdmin.css");
@import url("../commonAdmin.css");
@import url("../admin.css");
@import url("../util.css");
@import url("../pd_kendo.css");


/* 팝업 내부 탭 */
.popup-content .k-tabstrip { border: 0;}
.popup-content .k-tabstrip-top>.k-tabstrip-items-wrapper { border-bottom: 1px solid #EBEBEB;}
.popup-content .k-tabstrip .k-content { padding: 20px 0;}
.popup-content .k-tabstrip-items li.k-item { width: auto; border-bottom: 0;}
.popup-content .k-tabstrip-items li.k-item span.k-link { padding: 0 25px; line-height: 54px;}

.tab-content { padding: 15px; box-sizing: border-box;}
